body {
margin-right:150px;
margin-left:150px;
width: 80%;
height: 750vh;
background-color: lavender;
}
#first-box {
height:5vh;
background-color:maroon;
margin-top: 15px;margin-bottom:30px;
width: 75%;
}
#second-box {
height: 20vh;
background-color:maroon;
margin-bottom: 30px;
width: 75%;
}
.third-box>div {
height: 20vh;
background-color:maroon;
width: 30%;
margin-bottom: 50px;
}
.third-box {
display: flex;
height:20vh;
width: 75%;
justify-content: space-between;
}
#last-box {
margin-top: 25px;
background-color: maroon;
height:10vh;
width: 75%;
}